@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed:wght@400;700&display=swap');

a{
  cursor: pointer;
}
.header {
  background-color:  #272827;
  height: 100px;
}
.nav{
  margin-left: 96px;
  width: 220px;
  padding-top: 37px;
}
.nav a{
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #f7f8fa;
}
#login{
  margin-left: 65px;
  width: 70px;
}
.nav a:hover{
  border-bottom: 2px solid #FFFFFF;
}
.logo{
  display:flex;
  position:absolute;
  margin:-37px 0 0 1176px;
  padding-top: 2px;
}
.logo img{
  height: 40px;
  width: 90px;
}

/* ---- conteudo ---- */

.container{
  background-color: #F8F6F6;

}
.link-home{
  width: 218px;
  margin: 2px 0 10px 190px;
  padding-top: 40px;
}
.link-home a{
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
/* ----- img e infos ----- */
.img-hq{
  width: 290px;
  height: 330px;
  margin: 60px 0 0 200px;
}
.infos-titulo{
  display: flex;
  width: 600px;
  float: right;
  margin: -322px 155px 0 60px;
}
.infos-titulo h2{
  font-family:'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.infos-details{
  width: 400px;
  height: 80px;
  float: right;
  margin: -260px 350px -10px 40px;
}
.titulo-details{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}
#published{
  margin: 0 100px 20px 0;
  width: 300px;
  height: 40px;
}
#writer{
  margin: -60px -100px 20px 20px;
  float: right;
  width: 220px;
}
#penciller{
  width: 190px;
}
#cover{
  margin: -21px -67px 0 60px;
  float: right;
  width: 190px;
}
.infos-description{
  display: flex;
  float: right;
  margin: -170px 350px 0 0;
  width: 400px;
  height: 110px;
}
#description{
  display: flex;
  margin: 30px 0 30px 0;
  width: 400px;
  height: 80px;
}
#content-details-description{
  display: flex;
  margin: 30px 0 20px -83px;
  width: 800px !important;
  height: 200px;
}
#content-details-description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.content-details-p{
  width: 270px;
  margin-left: 6px;
}
#cast{
  display: flex;
  width: 400px;
  height: 20px;
  margin: 240px 0 0 -400px;
}


/* ------ botão ------ */
.buy{
  width: 890px;
  height: 138px;
  background-color: #F7F8FA;
  box-shadow: 0px 0px 6px 4px #585959;
  border-radius: 20px;
  margin: 160px 200px 20px 200px;
}
.acquire h2{
  display: flex;
  font-family:'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
  width: 210px;
  margin: 20px 0 0 135px;
  padding-top: 20px;
}
.acquire p{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 340px;
  display: flex;
  margin: 10px 0 0 60px;
}
.price{
  display: flex;
  width: 200px;
  margin: 10px 0 0 190px;
}
.price label{
  font-family:'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}
.btn{
  display: flex;
  float: right;
  margin: -90px 100px 0 0;
}
.btn button{
  background-color: #ED1D24;
  border-radius: 4px;
  border-style: none;
  font-family:'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #F7F8FA;
  width: 225.23px;
  height: 55.26px;
  margin-bottom: 100px;
}
