@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed:wght@400;700&display=swap');

a{
  cursor: pointer;
}
.header {
  background-color: #272827;
  height: 100px;
}
.nav{
  margin-left: 20px;
  width: 140px;
}
.nav a{
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #f7f8fa;
}
#login{
  margin-left: 25px;
  width: 50px;
}
.nav a:hover{
  border-bottom: 2px solid #FFFFFF;
}
.logo{
  display:flex;
  position:absolute;
  margin-left: 1160px;
  padding-top: 2px;
}
.logo img{
  height: 40px;
  width: 90px;
}
.link-home{
  width: 218px;
  margin: 40px 0 10px 70px;
}
.link-home a{
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.container{
  background-color: #F8F6F6;
}

/* ----- img e infos ----- */
.img-hq{

  width: 250px;
  height: 280px;
  margin: 60px 0 0 200px;
}
.infos-titulo{
  display: flex;

  width: 450px;
  float: right;
  margin: -277px 310px 0 40px;
}
.infos-titulo h2{
  font-family:' Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.infos-details{

  width: 400px;
  height: 80px;
  float: right;
  margin: -210px 350px -10px 40px;
}
.titulo-details{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 16px;
  color: #000000;

}
#published{

  margin: 0 100px 20px 0;
  width: 190px;
}
#writer{
  margin: -42px 4px 20px 20px;
  float: right;
  width: 190px;
}
#penciller{

  width: 190px;
}
#cover{

  margin: -22px 4px 0 20px;
  float: right;
  width: 190px;
}
.infos-description{
  display: flex;

  float: right;
  margin: -120px 350px 0 0;
  width: 400px;
  height: 110px;
}
#description{
  display: flex;
  margin: 0 0 4px 0;
  width: 400px;
  height: 80px;

}
#cast{
  display: flex;
  width: 400px;
  height: 20px;
  margin: 89px 0 0 -400px;

}


/* ------ botão ------ */
.buy{

  width: 814px;
  height: 138px;
  background-color: #F7F8FA;
  border-radius: 20px;
  margin: 30px 200px 20px 200px;
}
.acquire h2{
  display: flex;
  font-family:'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  width: 210px;
  margin: 20px 0 0 100px;
}
.acquire p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  width: 335px;
  display: flex;
  margin: 10px 0 0 40px;
}
.btn{
  float: right;
  margin: -30px 50px 0 0;
}
.btn button{
  background-color: #ED1D24;
  border-radius: 4px;
  border-style: none;
  font-family:'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #F7F8FA;
  width: 225.23px;
  height: 55.26px;
}
