/* You can add global styles to this file, and also import other style files */
html{
  margin: 0 auto;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*.white-snackbar{
  background-color: #F7F8FA ;
  width: 438px;
  height: 120px;
  box-shadow:  5px 50px 50px #B3B3B3;
}
.white-snackbar span{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  border-radius: 25px;
  margin: 30px 20px;
}
.white-snackbar .mat-simple-snackbar-action {
  background-color: red;
}
span.mat-button-wrapper{
 margin: -30px 0 6px 0  ;
}

.mat-snack-bar-container {
  margin: 0 80px 100px 0 !important;
}*/

