<mat-toolbar class="header">
  <div class="nav">
    <a [routerLink]="['/profile']">Profile</a>
    <a id="login" (click)="logout()"  >Log out</a>
  </div>
  <div class="logo">
    <img src="/assets/img/logo_Marvel.png">
  </div>
</mat-toolbar>


 <div class="container">

  <div class="titulo">
    <h2>Comic Books</h2>
  </div>

  <div class="conteudo" >

    <div class="" fxLayout="row wrap">
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="40" fxFlex.xs="100"  fxLayout="column"
      *ngFor="let hq of hqMarvel | paginate: { itemsPerPage: 12, currentPage: page }; let i = index" id="item">

        <div class="imagens">
        <a [routerLink]="['/details/:id']"><img src="{{hq.thumbnail.path}}/portrait_incredible.jpg" alt=""></a>
        </div>

        <div class="titleHq">
          <p><b>{{hq.title}}</b></p>
        </div>

        <div id="author">
          {{hq.creators.items[0] ? hq.creators.items[0].name : 'Sem autor'}}
        </div>

    </div>


  </div>
  <div class="pagina">
    <pagination-controls (pageChange)="page = $event" ></pagination-controls>
  </div>


</div>









