@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed:wght@400;700&display=swap');

a{
  cursor: pointer;


}
.header {
  background-color: #272827;
  height: 100px;
}
.nav{
  margin-left: 80px;
  width: 140px;
}
.nav a{
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #f7f8fa;
}
#login{
  margin-left: 65px;
  width: 50px;
}
.nav a:hover{
  border-bottom: 2px solid #FFFFFF;
}
.logo{
  display:flex;
  position:absolute;
  margin-left: 1160px;
  padding-top: 2px;
}
.logo img{
  height: 40px;
  width: 90px;
}
.container{
   background-color: #F8F6F6;
}
.titulo{
  width: 170px;
  margin: 2px 0 80px 63px;
  padding-top: 40px;
}
.titulo h2{
  font-family:'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
  color: #000000;
}
.conteudo{
  margin:0 0 0 66px;
  padding-bottom: 20px;

}
.titleHq p{
  font-family:'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  width: 230px;
  margin: 0 0 30px 0;
}
.pagina{


  display: flex;
  float:right;
  margin: 20px 100px 0 0;
  font-family:'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}


