<mat-toolbar class="header">
  <div class="nav">
    <a [routerLink]="['/profile']">Profile</a>
    <a id="login" (click)="logout()"  >Log out</a>
  </div>
  <div class="logo">
    <img src="/assets/img/logo_Marvel.png">
  </div>
</mat-toolbar>

<div class="container">
  <div class="titulo">
    <h2>Comic Books</h2>
  </div>
  <div class="comics" *ngFor="let hq of hqMarvel">
  <div class="imagens">
    <a routerLink="/details"><img src="{{hq.thumbnail.path}}/portrait_fantastic.jpg" alt=""></a>
  </div>
  <h4><b>{{hq.title}}</b></h4>


  </div>

</div>



