@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed:wght@400;700&display=swap');


button, span, a{
  cursor: pointer;
}
input{
  margin-bottom: 30px;
}

.container{
  width: 100%;
  height: 860px;
  background-image: url(/assets/img/background.png);
}
.logo{
  display: block;
  padding-left: 0px;
  width: 200px;
}
.logo img{
  width: 200px;
  height: 80px;
  margin: 76px;
}
.formulario{
  background: #181B19;
  width: 492.77px;
  height: 705px;
  box-shadow:0px 0 7px 11px rgba(247, 248, 250, 0.33);
  border-radius: 24px;
  margin-left:445px;
  margin-bottom: 30px;
  margin-top: -100px;
}

/* ------ titulo e subtitulo   ------ */
.titulo-formulario{
  display: block;
  place-items: center;
  width: 90px;
  margin: 0 196px 0 196px;
  padding-top: 80px;
}
.titulo-formulario h2{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 30px;
  color: #F7F8FA;

}
h3{
  width: 130px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #F7F8FA;
  margin: 30px 0 2px 50px;
  padding-top: 20px;
  margin-bottom: 30px;
}

/* ------ campos input   ------ */
.campos-input{
  padding: 0 50px 10px 50px;
}
.campos-input input{
  width: 385.05px;
  height: 56.79px;
  border: 1px solid #979797;
  background-color: #181B19;
  box-sizing: border-box;
  border-radius: 8px;
  color: #F7F8FA;
  padding-left: 20px;
  letter-spacing: 0.25px;
}
.campos-input input::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F7F8FA;
}
.split-validity{
  display: flex;
  height: 95px;
  margin-bottom: 0;
}
#validity{
  width: 185px;
  margin-right: 20px;
}
#cvv{
  width: 185px;
}


/* ------ botão   ------ */
.btnEntrar{
  position: absolute;
  width: 191.25px;
  height: 55.26px;
  margin: 10px 100px;
}
.btnEntrar button{
  background: #ED1D24;
  border-radius: 4px;
  width: 191.25px;
  height: 55.26px;
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #F7F8FA;
}
.btnEntrar button[disabled]{
  opacity: 0.5;
}

/* ------ link para login   ------ */
.linkLogin{
  float: right;
  margin-top: 80px;
  margin-right: 40px;
}
.linkLogin a {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #F7F8FA;
}
