<mat-toolbar class="header">
  <div class="nav">
    <a [routerLink]="['/profile']">Profile</a>
    <a id="login" (click)="logout()"  >Log out</a>
  </div>
  <div class="logo">
    <img src="/assets/img/logo_Marvel.png">
  </div>
</mat-toolbar>

<div class="container">

  <div class="link-home">
    <a routerLink="/home"><&nbsp;Back to Comic Books </a>
  </div>

  <div class="titulo">
    <h1>Personal Data</h1>
  </div>

  <div class="infos">

    <div class="nickname">
      <label for="nickname" class="info-titulo">Nickname: </label>
      <label for="" class="info-conteudo"> {{nickname}} </label>
    </div>
    <div class="name">
      <label for="Name" class="info-titulo">Name:</label>
      <label for="" class="info-conteudo"> {{name}} </label>
    </div>
    <div class="email">
      <label for="email" class="info-titulo">E-Mail:</label>
      <label for="" class="info-conteudo"> {{email}} </label>
    </div>
    <div class="contact">
      <label for="contact" class="info-titulo">Contact:</label>
      <label for="" class="info-conteudo" > {{contact  | mask:"(00) 00000-0000"}} </label>
    </div>
    <div class="adress">
      <label for="adress" class="info-titulo">Adress:</label>
      <label for="adress" class="info-conteudo"> {{adress}} </label>
    </div>

  </div>

  <div class="payment">
    <div class="form-payment">
      <label for="payment">Form of Payment:</label>
    </div>
    <div class="card">
      <div id="cardNumber">
        <label for="">**** **** **** {{cardNumber}} </label>
      </div>
      <div id="cardHolderName">
         <label for="">{{cardHolderName}}</label>
      </div>
      <div id="validity">
        <label for="">{{validity}}</label>
      </div>

    </div>
  </div>


</div>
